:ruby
  hide_show_thread ||= false

.status{ class: "status-#{status.visibility}" }
  .status__info
    = link_to ActivityPub::TagManager.instance.url_for(status), class: 'status__relative-time u-url u-uid', target: stream_link_target, rel: 'noopener noreferrer' do
      %span.status__visibility-icon><
        = visibility_icon status
      %time.time-ago{ datetime: status.created_at.iso8601, title: l(status.created_at) }= l(status.created_at)
    %data.dt-published{ value: status.created_at.to_time.iso8601 }

    = render 'statuses/author', author: status.account

  = render 'statuses/text', status: status

  - if status.quote?
    = render 'statuses/quote', status: status.quote

  = render 'statuses/media', status: status

  - if !status.in_reply_to_id.nil? && status.in_reply_to_account_id == status.account.id && !hide_show_thread
    = link_to ActivityPub::TagManager.instance.url_for(status), class: 'status__content__read-more-button', target: stream_link_target, rel: 'noopener noreferrer' do
      = t 'statuses.show_thread'

  .status__action-bar
    = link_to remote_interaction_path(status, type: :reply), class: 'status__action-bar-button icon-button icon-button--with-counter modal-button' do
      - if status.in_reply_to_id.nil?
        = fa_icon 'reply fw'
      - else
        = fa_icon 'reply-all fw'
      %span.icon-button__counter= obscured_counter status.replies_count
    = link_to remote_interaction_path(status, type: :reblog), class: 'status__action-bar-button icon-button modal-button' do
      - if status.distributable?
        = fa_icon 'retweet fw'
      - elsif status.private_visibility? || status.limited_visibility?
        = fa_icon 'lock fw'
      - else
        = fa_icon 'envelope fw'
    = link_to remote_interaction_path(status, type: :favourite), class: 'status__action-bar-button icon-button modal-button' do
      = fa_icon 'star fw'
